<section class="featured-properties-area section-padding-100-0">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 col-12">
                <div class="section-heading wow fadeInUp" data-wow-delay="250ms">
                    <h2>{{ site.data.about[page.lang].home-title }}</h2>
                </div>
                <div class="about-content text-justify">
                    <p class="wow fadeInUp" data-wow-delay="450ms">{{ site.data.about[page.lang].description }}</p>
                </div>
                <div class="listings-content mt-0">
                    <ul class="listings-core-features d-flex align-items-center">
                        {% for item in site.data.about[page.lang].home-features %}
                        <li class="text-center wow fadeInUp" data-wow-delay="{{ item.id | times: 350 }}ms">
                            <i class="fa fa-check" aria-hidden="true"></i>
                            {{ item.text }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>