<footer class="footer-area section-padding-100-0 bg-img gradient-background-overlay"
    style="background-image: url(/assets/img/bg-img/cta.jpg);">
    <!-- Main Footer Area -->
    <div class="main-footer-area">
        <div class="container">
            <div class="row justify-content-between">

                <!-- Single Footer Widget -->
                <div class="col-12 col-lg-4 col-xl-4 text-center">
                    <div class="footer-widget-area mb-100">
                        <!-- Widget Title -->
                        <div class="widget-title">
                            <h6>{{ site.data.footer.[page.lang].company }}</h6>
                        </div>
                        <!-- <div class="footer-logo my-4">
                          <img src="/assets/img/Logo-BB-IMO-Arad-Real-Estate-Imobiliare-300x200-min.png" alt="">
                      </div> -->
                        <p><strong>BB IMO S.R.L.</strong></p>
                        <p>{{ site.data.footer[page.lang].registration }}</p>
                        <p>RO40744786</p>
                        <p>{{ site.data.footer[page.lang].euid }}</p>
                        <p>ROONRC.J2/526/2019</p>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-lg-4 col-xl-4 text-center">
                    <div class="footer-widget-area mb-100">
                        <!-- Widget Title -->
                        <div class="widget-title">
                            <h6>{{ site.data.footer[page.lang].useful }}</h6>
                        </div>
                        <!-- Nav -->
                        <ul class="useful-links-nav align-items-center">
                            <li>
                                {% for link in site.data.footer[page.lang].links %}
                                <a href="{{ link.url }}" target="_blank">{{ link.name }}</a>
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                </div>

                <!-- Single Footer Widget -->
                <div class="col-12 col-lg-4 col-xl-4 text-center">
                    <div class="footer-widget-area mb-100">
                        <!-- Widget Title -->
                        <div class="widget-title">
                            <h6>{{ site.data.footer[page.lang].touch }}</h6>
                        </div>
                        <!-- Office Hours -->
                        <!-- <div class="weekly-office-hours">
                            <ul>
                                <li class="d-flex justify-content-between"><span>Monday - Friday</span> <span>09 AM - 19 PM</span></li>
                                <li class="d-flex justify-content-between"><span>Saturday</span> <span>09 AM - 14 PM</span></li>
                                <li class="d-flex justify-content-between"><span>Sunday</span> <span>Closed</span></li>
                            </ul>
                        </div> -->
                        <!-- Address -->
                        <div class="address">
                            <a href="tel:+40786948559">
                                <h6><img src="/assets/img/icons/phone-call.png" alt=""> +40 786 948 559</h6>
                            </a>
                            <a href="mailto:info@bb-imo.ro">
                                <h6><img src="/assets/img/icons/envelope.png" alt=""> info@bb-imo.ro</h6>
                            </a>
                            <a href="https://www.google.com/maps/dir/?api=1&destination=Splaiul+David+Praporgescu+17,+Arad"
                                target="_blank">
                                <h6><img src="/assets/img/icons/location.png" alt=""> Str. General David Praporgescu
                                    nr.17, ap.1 - 310183 - Arad</h6>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Copyright Text -->
    <div class="copywrite-text text-center">
        <p>Copyright &copy;<script>
                document.write(new Date().getFullYear());
            </script> All rights reserved @ BB IMO S.R.L.</p>
        <p> Crafted with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="https://scorpiusworks.com/#contact" target="_blank">ScorpiusWorks</a></p>
    </div>
</footer>