<header class="header-area">

    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="h-100 d-flex justify-content-between align-items-center">
            <div class="email-address">
                <a href="mailto:info@bb-imo.ro">info@bb-imo.ro</a>
            </div>
            <div class="phone-number d-flex">
                <div class="icon">
                    <img src="/assets/img/icons/phone-call.png" alt="">
                </div>
                <div class="number">
                    <a href="tel:+40786948559">+40 786 948 559</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Header Area -->
    <div class="main-header-area" id="stickyHeader">
        <div class="classy-nav-container breakpoint-off">
            <!-- Classy Menu -->
            <nav class="classy-navbar justify-content-between" id="southNav">

                <!-- Logo -->
                <a class="nav-brand" href="/"><img src="/assets/img/Logo-BB-IMO-Arad-Real-Estate.svg" alt=""></a>

                <!-- Navbar Toggler -->
                <div class="classy-navbar-toggler">
                    <span class="navbarToggler"><span></span><span></span><span></span></span>
                </div>

                <!-- Menu -->
                <div class="classy-menu">

                    <!-- close btn -->
                    <div class="classycloseIcon">
                        <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                    </div>

                    <!-- Nav Start -->
                    <div class="classynav">
                        <ul>
                            {% for item in site.data.navigation[page.lang] %}
                            <li>
                                <a href="{{ item[1].link }}">{{ item[1].name }}</a>
                                {% if item[1].link contains "properties" %}
                                <ul class="dropdown">
                                    {% for prop in site.data.navigation.props[page.lang] %}
                                    <li><a href='{{ prop.link }}'>{{ prop.name }}</a></li>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </li>
                            {% endfor %}

                            <li><a href="#"><i class="fa fa-globe" aria-hidden="true"></i></a>
                                <ul class="dropdown">
                                    {% if page.url contains "/en/" %}
                                    <li><a href='{{ page.url | remove: "/en"}}'>Română</a></li>
                                    {% else %}
                                    <li><a href='{{ page.url | prepend: "/en"}}'>English</a></li>
                                    {% endif %}
                                </ul>
                            </li>
                        </ul>

                        <!-- Search Form -->
                        <!-- <div class="search-form">
                            <form action="#" method="post">
                                <input type="search" name="search" id="search" placeholder="Search Anything ...">
                                <button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div> -->

                        <!-- Search Button -->
                        <!-- <a href="#" class="searchbtn"><i class="fa" aria-hidden="true"></i></a> -->

                    </div>
                    <!-- Nav End -->
                </div>
            </nav>
        </div>
    </div>
</header>