---
layout: default
ref: about
breadcrumb: about
---

<!-- ##### Breadcumb Area Start ##### -->

<!-- ##### Breadcumb Area End ##### -->

<!-- ##### About Content Wrapper Start ##### -->
<section class="about-content-wrapper section-padding-100">
  <div class="container mt-100">
    <div class="row">
      <div class="col-12 col-lg-8">
        <div
          class="section-heading text-left wow fadeInUp"
          data-wow-delay="250ms"
        >
          <h2>{{ site.data.about[page.lang].heading }}</h2>
          <p>{{ site.data.about[page.lang].subheading }}</p>
        </div>
        <div class="about-content">
          <img
            class="wow fadeInUp"
            data-wow-delay="350ms"
            src="/assets/img/bb-imo-residence/slider/bb-imo-residence-4.jpg"
            alt=""
          />
          <p class="wow fadeInUp" data-wow-delay="450ms">
            {{ site.data.about[page.lang].description }}
          </p>
        </div>
      </div>

      <div class="col-12 col-lg-4">
        <div
          class="section-heading text-left wow fadeInUp"
          data-wow-delay="250ms"
        >
          <h2>{{ site.data.featured-properties[page.lang].title }}</h2>
          <p>{{ site.data.featured-properties[page.lang].subtitle }}</p>
        </div>

        <!-- Removed owl-carousel class to stop the slider until we have more than one project...to be added back then -->
        <div
          class="featured-properties-slider owl-carousel wow fadeInUp"
          data-wow-delay="350ms"
        >
          {% include all-projects.html %}
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### About Content Wrapper End ##### -->

<!-- ##### Call To Action Area Start ##### -->
{% include call-to-action.html %}
<!-- ##### Call To Action Area End ##### -->

<!-- ##### Meet The Team Area Start ##### -->

<!-- ##### Meet The Team Area End ##### -->
