<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Title  -->
    <title>{{ page.title }} | {{ site.title }}</title>

    <!-- Favicon  -->
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/img/ico/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/img/ico/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/img/ico/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/img/ico/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/img/ico/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/img/ico/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/img/ico/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/img/ico/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/ico/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/assets/img/ico/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/assets/img/ico/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/ico/favicon-16x16.png">
    <link rel="icon" href="/assets/img/ico/favicon.ico">
    <link rel="manifest" href="/assets/manifest.json">
    <meta name="msapplication-TileColor" content="#947054">
    <meta name="msapplication-TileImage" content="/assets/img/ico/ms-icon-144x144.png">
    <meta name="theme-color" content="#947054">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/assets/css/styles.css">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="load"></div>
    </div>

    <!-- ##### Header Area Start ##### -->
    {% include header.html %}
    <!-- ##### Header Area End ##### -->

    {{ content }}

    <!-- ##### Footer Area Start ##### -->
    {% include footer.html %}
    <!-- ##### Footer Area End ##### -->

    <!-- jQuery (Necessary for All JavaScript Plugins) -->
    <script src="/assets/js/jquery/jquery-2.2.4.min.js"></script>
    <!-- Popper js -->
    <script src="/assets/js/popper.min.js"></script>
    <!-- Bootstrap js -->
    <script src="/assets/js/bootstrap.min.js"></script>
    <!-- Plugins js -->
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/classy-nav.min.js"></script>
    <script src="/assets/js/jquery-ui.min.js"></script>
    <!-- Active js -->
    <script src="/assets/js/active.js"></script>
    <!-- Google Maps js -->
    <script src="/assets/js/map-active.js"></script>
    <!-- Google Maps API key -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-MirZ17KO34PNO1DG0iBQqfCcAwQuXPY"></script>

</body>

</html>
