---
layout: default
ref: home
slider: home
---

<!-- ##### Hero Area Start ##### -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="homepage-head text-center wow fadeInUp">
          <h2>{{ site.data.homepage.heading[page.lang] }}</h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Hero Area End ##### -->

<!-- ##### Projects Area Start ##### -->
<section class="listings-content-wrapper pb-5 pt-2">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading wow fadeInUp">
          <h2>{{ site.data.featured-properties[page.lang].title }}</h2>
          <p>{{ site.data.featured-properties[page.lang].subtitle }}</p>
        </div>
      </div>
    </div>
    <!-- ##### Include the projects carousel ##### -->
    <div class="row justify-content-center">
      {% include all-projects.html %}
    </div>
  </div>
</section>
<!-- ##### Projects Area End ##### -->

<!-- ##### Company info Start ##### -->
{% include company-info.html %}
<!-- ##### Company info End ##### -->

<!-- ##### WhyUs Area Start ##### -->
{% include why-us.html %}
<!-- ##### WhyUs Area End ##### -->

<!-- ##### Editor Area Start ##### -->
<!-- ##### Editor Area End ##### -->
