---
layout: default
---

<!-- ##### Breadcumb Area Start ##### -->
{% include breadcrumbs.html %}
<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Advance Search Area Start ##### -->
{% include search.html %}
<!-- ##### Advance Search Area End ##### -->

<!-- ##### Featured Properties Area Start ##### -->
<section class="listings-content-wrapper section-padding-100">
    <div class="container">
        <div class="row">
            {% include all-properties.html %}
        </div>
    </div>
</section>
<!-- ##### Featured Properties Area End ##### -->
