---
layout: default
breadcrumb: properties
---

<!-- ##### Breadcumb Area Start ##### -->

<!-- ##### Breadcumb Area End ##### -->

<!-- ##### Advance Search Area Start ##### -->

<!-- ##### Advance Search Area End ##### -->

<!-- ##### Projects Area Start ##### -->
<section class="listings-content-wrapper section-padding-50">
  <div class="container mt-100">
    <div class="row">
      <div class="col-12">
        <div class="section-heading wow fadeInUp">
          <h2>{{ site.data.featured-properties[page.lang].title }}</h2>
          <p>{{ site.data.featured-properties[page.lang].subtitle }}</p>
        </div>
      </div>
    </div>
    <!-- ##### Include the projects carousel ##### -->
    <div class="row justify-content-center">
      {% include all-projects.html %}
    </div>
  </div>
</section>
<!-- ##### Projects Area End ##### -->
